<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>MyHotel</display-name>

	<welcome-file-list>
		<welcome-file>/view/index.jsp</welcome-file>
		<welcome-file>/view/index.html</welcome-file>
	</welcome-file-list>



	<servlet>
		<servlet-name>servletOiMundo</servlet-name>
		<servlet-class>br.com.start.myhotel.view.OiMundo</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>servletOiMundo</servlet-name>
		<url-pattern>/oi</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>administradorController</servlet-name>
		<servlet-class>br.com.start.myhotel.controller.AdministradorController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>administradorController</servlet-name>
		<url-pattern>/administradorController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>sistemaController</servlet-name>
		<servlet-class>br.com.start.myhotel.controller.SistemaController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sistemaController</servlet-name>
		<url-pattern>/sistemaController</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>funcionarioController</servlet-name>
		<servlet-class>br.com.start.myhotel.controller.FuncionarioController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>funcionarioController</servlet-name>
		<url-pattern>/funcionarioController</url-pattern>
	</servlet-mapping>



</web-app>